{%- liquid
  if collections[featured].image
  assign collection_image = collections[featured].image
  else
  assign collection_image = collections[featured].products.first.featured_image
  endif
%}
 
{% capture collection_title %}{{ collections[featured].title | escape }}{% endcapture %}
{% capture collection_link %}{{ collections[featured].url | escape }}{% endcapture %}
{% capture collection_desc %}{{ collections[featured].description | strip_html | truncate: 100 }}{% endcapture %}
{% capture collection_count %}{{ collections[featured].all_products_count | escape }}{% endcapture %}
 
<div class="dt-sc-collection-banner {% if section.settings.enable_box_shadow %}dt-sc-box-shadow{% endif %} {% if section.settings.enable_slider %}swiper-slide{% endif %} {{ grid_style }} {{ list_style }} {{ overlay_style }} {{ block.type }}-{{ block.id }} {% if block.settings.reverse_column %}dt-sc-reverse-columns{% endif %}">      
  {% if featured != blank %}
  {% if collections[featured].image or collections[featured].products.first.featured_image %}
  <div class="dt-sc-collection-banner-image  wow animated fadeIn {{ overlay_class }}">
    <a href="{{ collection_link }}">     
     <img
              srcset="{%- if collection_image.width >= 375 -%}{{ collection_image | image_url: width: 375 }} 375w,{%- endif -%}
              {%- if collection_image.width >= 550 -%}{{ collection_image | image_url: width: 550 }} 550w,{%- endif -%}
              {%- if collection_image.width >= 750 -%}{{ collection_image | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if collection_image.width >= 1100 -%}{{ collection_image | image_url: width: 1100 }} 1100w,{%- endif -%}
              {%- if collection_image.width >= 1500 -%}{{ collection_image | image_url: width: 1500 }} 1500w,{%- endif -%}
              {%- if collection_image.width >= 1780 -%}{{ collection_image | image_url: width: 1780 }} 1780w,{%- endif -%}
              {%- if collection_image.width >= 2000 -%}{{ collection_image | image_url: width: 2000 }} 2000w,{%- endif -%}
              {%- if collection_image.width >= 3000 -%}{{ collection_image | image_url: width: 3000 }} 3000w,{%- endif -%}
              {%- if collection_image.width >= 3840 -%}{{ collection_image | image_url: width: 3840 }} 3840w,{%- endif -%}
              {{ collection_image | image_url }} {{ collection_image.width }}w"
              sizes="100vw"
              src="{{ collection_image | image_url: width: 1500 }}"
              loading="lazy"
              alt="{{ collection_image.alt | escape }}"
              width="{{ collection_image.width }}"
              height="{{ collection_image.width | divided_by: collection_image.aspect_ratio | round }}"
            >
    </a> 
    <div class="dt-sc-overlay-content">
      {% if section.settings.enable_collection_button %}
      {% if collection_link and block.settings.block_button_text != blank %}
      <a href="{{ collection_link }}" class="dt-sc-btn">{{ block.settings.block_button_text }}</a>
      {% endif %}
      {% endif %}
    </div>
  </div>
  {% endif%}  
  {% endif%} 
  {% if collection_title != blank or collection_count != blank or collection_desc != blank or block_button_text != blank %}
  <div class="dt-sc-collection-banner-content  wow animated fadeIn
	{% unless section.settings.block_banner_style == 'grid' %} {{ block.settings.content_position }}{% endunless %}
    {% if section.settings.block_banner_style == 'grid' %}{{ block.settings.block_text_align }}{% endif %}">
    {% unless section.settings.block_banner_style == 'grid' %}
    <div class="dt-sc-collection-banner-inner {{ block.settings.block_text_align }}">
      {% endunless %}
      {% if section.settings.enable_sub_title %}
      <h6 class="dt-sc-sub-text">{{ block.settings.collection_sub_text }}</h6>
      {% endif %}
      {% if collection_title != blank %}
      <a href="{{ collection_link }}" class="dt-sc-main-title-link"><h5 class="dt-sc-main-title" >{{ collection_title }}</h5> </a>
      {% endif %} 
      {% if section.settings.enable_title %}
      <div class="collection-btn"><a href="{{ collection_link }}"> <h5> {{ block.settings.collection_text }}  </h5> </a> </div>
      {% endif %} 
      
      {% if section.settings.enable_items_count %}
      {% if collection_count != blank %}
      <h6 class="dt-sc-sub-title">{{ collection_count }} <span>{{ 'cart.general.items' | t }}</span></h6>    
      {% endif %}
      {% endif %}
      
      {% if section.settings.enable_collection_desc %}
      {% if collection_desc != blank %}
      <p class="dt-sc-description">{{ collection_desc }}</p>
      {% endif %}      
      {% endif %}

     
      {% unless section.settings.block_banner_style == 'grid' %}</div>{% endunless %}
  </div>
  {% endif %}
</div>