{%- if canonical_url != blank -%}
  <link rel="canonical" href="{{ canonical_url }}">
{%- endif -%}

<link rel="shortcut icon" href="{{ 'favicon-big.png' | asset_url }}" type="image/png">

<title>
  {{ page_title }}
  {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
  {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
  {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
</title>

{% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
{% endif %}
