<style>
  .breadcrumb {
    margin-bottom: 0 !important;
  }
  .breadcrumb:before {
    background-color: white;
  }
</style>
<div class="tb-latina-wrapper">
  <div class="tb-container">
      <span>Latina women owned business</span>
    </div>
  </div>
</div>

<section class="tb-ourHistory tb-about-hero tb-pos-r">
  {% comment %} <div class="tb-decorative top tb-about-seeds wow fadeInDown"></div> {% endcomment %}
  <div class="tb-decorative left wow fadeInLeft"></div>
  <div class="tb-decorative top tb-about-carrot wow fadeInDown"></div>
  <div class="tb-container tb-pos-r">
    <div class="tb-col tb-col-left tb-pos-r wow fadeIn">
      <img
        src="https://cdn.shopify.com/s/files/1/0858/1336/2961/t/2/assets/tb-logo-dark.png?v=1720207495"
        class="tb-logo"
        alt="Healthy Scoops"
      >
      <p class="tb-excerpt">
        At Healthy Scoops, we revolutionize fast-paced healthy eating with superior frozen meals made from fresh,
        wholesome ingredients. Free from additives and preservatives, our meals feature authentic Latin flavors,
        offering nutritious options for busy lifestyles without compromising on health or taste.”
      </p>
    </div>
    <div class="tb-col tb-col-right tb-pos-r">
      <img
        src="{{ 'tb-img-our-history.png' | asset_img_url: 'original' }}"
        class="tb-picture wow fadeIn"
        alt="Healthy Scoops"
      >
      <div class="tb-decorative right wow fadeInLeft"></div>
    </div>
  </div>
</section>

<section class="tb-about-selling">
  <div class="tb-container tb-pos-r">
    <div class="tb-col tb-col-left">
      <h2>Our Unique Touch:</h2>
      <h3 class="tb-subtitle">Latina Women-Driven Quality</h3>
      <p>
        Healthy Scoops offers the perfect blend of convenience and nutrition with our additive-free, Latin-inspired
        frozen meals, providing busy individuals with delicious, authentic flavors and uncompromised health benefits.
      </p>
    </div>
    <div class="tb-col tb-col-right">
      <div class="tb-decorative tb-about-selling-figure wow fadeIn"></div>
      <div class="tb-decorative tb-about-selling-chili wow fadeInUp"></div>
      {% comment %} <div class="tb-decorative tb-about-selling-seeds wow fadeInDown"></div> {% endcomment %}
      <div class="tb-decorative tb-about-selling-feather wow fadeInDown"></div>
      <div class="tb-decorative tb-about-selling-onion wow fadeInRight"></div>
      <div class="tb-about-selling-card">
        <div class="tb-about-selling-card-number">
          <p>01</p>
        </div>
        <div class="tb-about-selling-card-text">
          <h4>Superior Frozen Food</h4>
          <p>HIGHT QUALITY INGREDIENTS</p>
        </div>
      </div>
      <div class="tb-about-selling-card">
        <div class="tb-about-selling-card-number">
          <p>02</p>
        </div>
        <div class="tb-about-selling-card-text">
          <h4>Latin-inspired</h4>
          <p>A HEALTHY TWIST ON OUR TRADITIONAL FLAVORS</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="tb-about-history">
  <div class="tb-container tb-pos-r">
    <div class="tb-col tb-col-left">
      <div class="tb-decorative tb-about-history-sCircle wow fadeInRight"></div>
      <div class="tb-decorative tb-about-history-bCircle wow fadeIn"></div>
      <div class="tb-decorative tb-about-history-wSeeds wow fadeInLeft"></div>
      <div class="tb-decorative tb-about-history-petal wow fadeInLeft"></div>
      <img src="{{ 'tb-img-our-history-2.png' | asset_img_url: 'original' }}" alt="" class="wow fadeIn">
      <div class="tb-decorative tb-about-history-text wow fadeInUp"></div>
    </div>
    <div class="tb-col tb-col-right">
      <h2>Crafted with Latina Passion:</h2>
      <h3>Our Journey</h3>
      <p>
        Chicago captivated us with its beauty, becoming the chosen home for three Venezuelan sisters after a journey
        that took us far from our native country. As we settled into this magnificent city, we were struck by the
        fast-paced rhythm of daily life and the lack of time to cook, leading many people to rely on highly processed
        frozen options that contribute to health issues like obesity and heart disease. We noticed the abundance of
        convenient but unhealthy foods in supermarkets, motivating us to make a difference.
      </p>
    </div>
  </div>
</section>
<section class="tb-about-mission">
  <div class="tb-decorative tb-about-mission-left-figure wow fadeInRight"></div>
  <div class="tb-decorative tb-about-mission-right-figure wow fadeInLeft"></div>
  <div class="tb-container tb-pos-r">
    <div class="tb-about-mission-header">
      <p>
        Inspired by our shared love for a healthy lifestyle and the authentic taste of homemade food, cooked with love
        by our mother, we decided to establish Healthy Scoops. Living together in an apartment in Edgewater, the eldest
        sister began developing recipes infused with Latin flavors, substituting some ingredients with healthier
        versions. The youngest sister took charge of photographing the products and creating audiovisual tools, while
        the middle sister managed costs and suppliers.
      </p>
    </div>
    <div class="tb-about-mission-container">
      <div class="tb-col tb-col-left">
        <img src="{{ 'tb-about-mission2.png' | asset_img_url: 'original' }}" alt="Mission" class="wow fadeIn">
      </div>
      <div class="tb-col tb-col-right">
        <h2>Our mission</h2>
        <p>
          Our mission is to revolutionize the frozen food industry with healthy options, blending authentic Latin
          flavors with modern twists. Our nutrient-packed frozen fiestas honor tradition while embracing innovation,
          ensuring your well-being with every delicious spoonful. We celebrate the diversity of Latin ingredients,
          creating an explosion of taste and nutrition in every bite, setting a new standard for healthy, convenient
          meals.
        </p>
      </div>
    </div>
    <h3>
      Join us on this journey, as we bring the love and flavors of our Venezuelan home to your table, one healthy scoop
      at a time.
    </h3>
  </div>
</section>
<div class="tb-sectionsGroup">
  <!-- Starts Our Differentiations -->
  <section class="tb-differentiators">
    <div class="tb-container">
      <div class="tb-decorative left wow fadeInLeft"></div>
      <div class="tb-decorative right wow fadeInDown"></div>

      <h2 class="tb-section-title wow fadeIn">From Our Latina Hearts to Your Table:</h2>
      <h3 class="tb-sectionSubtitle wow fadeIn">The Healthy Scoops Difference</h3>

      <div class="tb-grid tb-grid-4 wow fadeInUp">
        <div class="tb-flipCard">
          <img src="{{ 'tb-flip-1.jpg' | asset_url }}" alt="Arepa">
          <h3 class="tb-title">
            Authentic<br>
            Latin Flavors<span>:</span>
          </h3>
          <p class="tb-excerpt">
            Enjoy the rich, traditional tastes of Latin cuisine, crafted with a modern twist to bring vibrant, authentic
            flavors to every meal.
          </p>
        </div>

        <div class="tb-flipCard">
          <img src="{{ 'tb-flip-2.jpg' | asset_url }}" alt="Arepa" width="224" height="224">
          <h3 class="tb-title">
            Nutrient-Packed<br>
            Convenience<span>:</span>
          </h3>
          <p class="tb-excerpt">
            Our meals are designed for busy lifestyles, offering quick and easy options that don't compromise on
            nutrition or quality.
          </p>
        </div>

        <div class="tb-flipCard">
          <img src="{{ 'tb-flip-3.jpg' | asset_url }}" alt="Arepa">
          <h3 class="tb-title">
            Health-Focused<br>
            Ingredients<span>:</span>
          </h3>
          <p class="tb-excerpt">
            Made with fresh, wholesome ingredients, our dishes are free from additives and preservatives, supporting
            your well-being with every bite.
          </p>
        </div>

        <div class="tb-flipCard">
          <img src="{{ 'tb-flip-4.jpg' | asset_url }}" alt="Arepa">
          <h3 class="tb-title">
            Woman and<br>
            Minority Owned<span>:</span>
          </h3>
          <p class="tb-excerpt">
            Proudly founded and operated by three Venezuelan sisters, we bring our heritage and passion for healthy
            living to every meal, supporting diversity and inclusion in the food industry.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Ends Our Differentiations -->
</div>
<section class="tb-about-carousel">
  <div class="tb-container tb-pos-r">
    <h3>
      Our line of products at Healthy Scoops encompasses a variety of categories, each meticulously crafted with a
      commitment to quality, taste, and healthfulness. From our tantalizing appetizers to our satisfying proteins,
      flavorful sides, and indulgent sweets, every item is handcrafted with care using natural ingredients, devoid of
      artificial additives or preservatives.
    </h3>
    <div class="swiper appetizers tb-about-carousel-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="tb-about-carousel-slider-box">
            <div class="tb-col tb-col-left">
              <h3>Arepas and Empanadas</h3>
              <p>
                Eating healthy arepas and empanadas offers several key benefits. These foods can be made with whole grains
                and nutritious fillings, providing essential nutrients, fiber, and complex carbohydrates that support
                sustained energy and digestive health. You can reduce unhealthy fats and calories, promote heart health,
                and achieve a balanced meal.
              </p>
              <h4>We offer: empanadas with diverse fillings including chicken, beef, and cheese.</h4>
            </div>
            <div class="tb-col tb-col-right">
              <div class="tb-decorative tb-about-carousel-figure wow fadeInDown"></div>
              <img
                src="{{ 'tb-carousel-image.png' | asset_img_url: 'original' }}"
                alt="Empanada and arepa"
                class="wow fadeIn"
              >
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="tb-about-carousel-slider-box">
            <div class="tb-col tb-col-left">
              <h3>Proteins</h3>
              <p>
                When it comes to proteins, we take pride in offering a diverse selection of options to suit every taste
                and preference. From succulent meats to plant-based alternatives, our proteins are carefully sourced and
                expertly prepared to deliver maximum flavor and nutrition, without compromising on quality or integrity.
              </p>
              <h4>We offer: Chicken, Beef, and Turkey proteins cooked in a variety of ways.</h4>
            </div>
            <div class="tb-col tb-col-right">
              <div class="tb-decorative tb-about-carousel-figure"></div>
              <img src="{{ 'tb-carousel-image-1.png' | asset_img_url: 'original' }}" alt="Proteins" class="wow fadeIn">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="tb-about-carousel-slider-box">
            <div class="tb-col tb-col-left">
              <h3>Sides</h3>
              <p>
                Complementing our proteins are our thoughtfully crafted sides, designed to add depth and variety to any
                dish. Made with fresh, seasonal produce and wholesome grains, our sides are the perfect accompaniment to
                elevate your meal and satisfy your appetite.
              </p>
              <h4>We offer: Quinoa, rice, plant based lasagna</h4>
            </div>
            <div class="tb-col tb-col-right">
              <div class="tb-decorative tb-about-carousel-figure"></div>
              <img src="{{ 'tb-carousel-image-2.png' | asset_img_url: 'original' }}" alt="Sides" class="wow fadeIn">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="tb-about-carousel-slider-box">
            <div class="tb-col tb-col-left">
              <h3>Sweets</h3>
              <p>
                And for those moments of indulgence, our sweets offer a guilt-free treat that’s sure to satisfy your
                cravings. Made with the finest natural ingredients and a touch of culinary artistry, our sweets are a
                deliciously wholesome way to indulge your sweet tooth without straying from your health goals.
              </p>
              <h4>We offer: Banana bread</h4>
            </div>
            <div class="tb-col tb-col-right">
              <div class="tb-decorative tb-about-carousel-figure"></div>
              <img src="{{ 'tb-carousel-image-3.png' | asset_img_url: 'original' }}" alt="Sweets" class="wow fadeIn">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="tb-about-carousel-slider-box">
            <div class="tb-col tb-col-left">
              <p>
                At Healthy Scoops, we believe that food should be as nourishing as it is delicious. That’s why we’re
                committed to using only the highest quality natural ingredients in every product we make, ensuring that
                you can enjoy great-tasting food that’s good for you too.
              </p>
            </div>
            <div class="tb-col tb-col-right">
              <div class="tb-decorative tb-about-carousel-figure"></div>
              <img
                src="{{ 'tb-carousel-image-4.png' | asset_img_url: 'original' }}"
                alt="Delicious food"
                class="wow fadeIn"
              >
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>

<script>
  const swiper = new Swiper('.appetizers', {
    slidesPerView: 1,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>
