<style>.breadcrumb{margin-bottom: 0 !important;}</style>
    <section class="tb-ourHistory tb-about-hero tb-pos-r">
        <div class="tb-decorative top tb-about-seeds wow fadeInDown"></div>
        <div class="tb-decorative left wow fadeInLeft"></div>
        <div class="tb-decorative top tb-about-carrot wow fadeInDown"></div>
        <div class="tb-container tb-pos-r">
            <div class="tb-col tb-col-left tb-pos-r wow fadeIn">
                <img src="https://cdn.shopify.com/s/files/1/0858/1336/2961/t/2/assets/tb-logo-dark.png?v=1720207495"
                    class="tb-logo" alt="Healthy Scoops">
                <p class="tb-excerpt">
                    At Healthy Scoops, we revolutionize fast-paced healthy eating with superior frozen meals made from
                    fresh, wholesome ingredients.
                    Free from additives and preservatives, our meals feature authentic Latin flavors, offering
                    nutritious options for busy lifestyles without compromising on health or taste.”
                </p>
            </div>
            <div class="tb-col tb-col-right tb-pos-r">
                <img src="{{ 'tb-img-our-history.png' | asset_img_url: 'original' }}"
                    class="tb-picture wow fadeIn" alt="Healthy Scoops">
                <div class="tb-decorative right wow fadeInLeft"></div>
            </div>
        </div>
    </section>

    <section class="tb-about-selling">
        <div class="tb-container tb-pos-r">
            <div class="tb-col tb-col-left">
                <h3>
                    <div class="tb-about-elipses">
                        <div></div>
                    </div>
                    WELCOME TO ORGANI
                </h3>
                <h2>
                    Unique selling point
                </h2>
                <p>
                    Healthy Scoops offers the perfect blend of convenience and nutrition with our additive-free,
                    Latin-inspired frozen meals, providing busy individuals with delicious, authentic flavors and
                    uncompromised health benefits.
                </p>
            </div>
            <div class="tb-col tb-col-right">
                <div class="tb-decorative tb-about-selling-figure wow fadeIn"></div>
                <div class="tb-decorative tb-about-selling-chili wow fadeInUp"></div>
                <div class="tb-decorative tb-about-selling-seeds wow fadeInDown"></div>
                <div class="tb-decorative tb-about-selling-feather wow fadeInDown"></div>
                <div class="tb-decorative tb-about-selling-onion wow fadeInRight"></div>
                <div class="tb-about-selling-card">
                    <div class="tb-about-selling-card-number">
                        <p>
                            01
                        </p>
                    </div>
                    <div class="tb-about-selling-card-text">
                        <h4>our additive-free</h4>
                        <p>HIGHT QUALITY ORGANIC</p>
                    </div>
                </div>
                <div class="tb-about-selling-card">
                    <div class="tb-about-selling-card-number">
                        <p>
                            02
                        </p>
                    </div>
                    <div class="tb-about-selling-card-text">
                        <h4>Latin-inspired frozen meals</h4>
                        <p>100% NATURAL</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="tb-about-history">
        <div class="tb-container tb-pos-r">
            <div class="tb-col tb-col-left">
                <div class="tb-decorative tb-about-history-bSeeds wow fadeInDown"></div>
                <div class="tb-decorative tb-about-history-sCircle wow fadeInRight"></div>
                <div class="tb-decorative tb-about-history-bCircle wow fadeIn"></div>
                <div class="tb-decorative tb-about-history-wSeeds wow fadeInLeft"></div>
                <div class="tb-decorative tb-about-history-petal wow fadeInLeft"></div>
                <img src="{{ 'tb-images-history.png' | asset_img_url: 'original' }}" alt="" class="wow fadeIn">
                <div class="tb-decorative tb-about-history-text wow fadeInUp"></div>
            </div>
            <div class="tb-col tb-col-right">
                <h2>Our history</h2>
                <p>
                    Chicago captivated us with its beauty, becoming the chosen home for three Venezuelan sisters after a
                    journey that took us far from our native country. As we settled into this magnificent city, we were
                    struck by the fast-paced rhythm of daily life and the lack of time to cook, leading many people to
                    rely on highly processed frozen options that contribute to health issues like obesity and heart
                    disease. We noticed the abundance of convenient but unhealthy foods in supermarkets, motivating us
                    to make a difference.
                </p>
            </div>
        </div>
    </section>
    <section class="tb-about-mission">
        <div class="tb-decorative tb-about-mission-left-figure wow fadeInRight"></div>
        <div class="tb-decorative tb-about-mission-right-figure wow fadeInLeft"></div>
        <div class="tb-container tb-pos-r">
            <div class="tb-about-mission-header">
                <p>
                    Inspired by our shared love for a healthy lifestyle and the authentic taste of homemade food, cooked
                    with love by our mother, we decided to establish Healthy Scoops. Living together in an apartment in
                    Edgewater, the eldest sister began developing recipes infused with Latin flavors, substituting some
                    ingredients with healthier versions. The youngest sister took charge of photographing the products
                    and creating audiovisual tools, while the middle sister managed costs and suppliers.
                </p>
            </div>
            <div class="tb-about-mission-container">

                <div class="tb-col tb-col-left">
                    <img src="{{ 'tb-about-mission2.png' | asset_img_url: 'original' }}" alt="Mission" class="wow fadeIn">
                </div>
                <div class="tb-col tb-col-right">
                    <h2>
                        Our mission
                    </h2>
                    <p>
                        Our mission is to revolutionize the frozen food industry with healthy options, blending
                        authentic Latin flavors with modern twists. Our nutrient-packed frozen fiestas honor tradition
                        while embracing innovation, ensuring your well-being with every delicious spoonful. We celebrate
                        the diversity of Latin ingredients, creating an explosion of taste and nutrition in every bite,
                        setting a new standard for healthy, convenient meals.
                    </p>
                </div>
            </div>
            <h3>
                Join us on this journey, as we bring the love and flavors of our Venezuelan home to your table, one
                healthy scoop at a time.
            </h3>
        </div>
    </section>
    <div class="tb-sectionsGroup">
			<!-- Starts Our Differentiations --> 
			<section class="tb-differentiators">
				<div class="tb-container">

					<div class="tb-decorative left wow fadeInLeft"></div>
					<div class="tb-decorative right wow fadeInDown"></div>

					<h2 class="tb-section-title wow fadeIn">Our Differentiators</h2>
					<p class="tb-description wow fadeIn delay-1s">Morbi eget congue lectus. Donec eleifend ultricies urna et euismod. Sed consectetur tellus eget odio aliquet, vel vestibulum.</p>

					<div class="tb-grid tb-grid-4 wow fadeInUp">

						<div class="tb-flipCard">
							<img src="{{ 'tb-flip-1.jpg' | asset_url }}" alt="Arepa">
							<h3 class="tb-title">Authentic<br>Latin Flavors<span>:</span></h3>
							<p class="tb-excerpt">Enjoy the rich, traditional tastes of Latin cuisine, crafted with a modern twist to bring vibrant, authentic flavors to every meal.</p>
						</div>

						<div class="tb-flipCard">
							<img src="{{ 'tb-flip-2.jpg' | asset_url }}" alt="Arepa" width="224" height="224">
							<h3 class="tb-title">Nutrient-Packed<br>Convenience<span>:</span></h3>
							<p class="tb-excerpt">Enjoy the rich, traditional tastes of Latin cuisine, crafted with a modern twist to bring vibrant, authentic flavors to every meal.</p>
						</div>

						<div class="tb-flipCard">
							<img src="{{ 'tb-flip-3.jpg' | asset_url }}" alt="Arepa">
							<h3 class="tb-title">Health-Focused<br>Ingredients<span>:</span></h3>
							<p class="tb-excerpt">Enjoy the rich, traditional tastes of Latin cuisine, crafted with a modern twist to bring vibrant, authentic flavors to every meal.</p>
						</div>

						<div class="tb-flipCard">
							<img src="{{ 'tb-flip-3.jpg' | asset_url }}" alt="Arepa">
							<h3 class="tb-title">Woman and<br>Minority Owned<span>:</span></h3>
							<p class="tb-excerpt">Enjoy the rich, traditional tastes of Latin cuisine, crafted with a modern twist to bring vibrant, authentic flavors to every meal.</p>
						</div>

					</div>

				</div>
			</section>
			<!-- Ends Our Differentiations --> 
    </div>
    <section class="tb-about-carousel">
        <div class="tb-container tb-pos-r">
            <h3>
                Our line of products at Healthy Scoops encompasses a variety of categories, each meticulously crafted
                with a commitment to quality, taste, and healthfulness. From our tantalizing appetizers to our
                satisfying proteins, flavorful sides, and indulgent sweets, every item is handcrafted with care using
                natural ingredients, devoid of artificial additives or preservatives. Jesscia Brown
            </h3>
            <div class="swiper appetizers tb-about-carousel-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="tb-about-carousel-slider-box">
                            <div class="tb-col tb-col-left">
                                <h3>
                                    Appetizers
                                </h3>
                                <p>
                                    Our appetizers are the perfect prelude to any meal, offering a tantalizing array of flavors and textures to awaken the palate. Made with hand-selected natural ingredients, these bite-sized delights are as wholesome as they are delicious, setting the stage for a memorable dining experience.
                                </p>
                                <h4>
                                    We offer: Arepas, plant based soups and empanadas
                                </h4>
                            </div>
                            <div class="tb-col tb-col-right">
                                <div class="tb-decorative tb-about-carousel-figure wow fadeInDown"></div>
                                <img src="{{ 'tb-carousel-image.png' | asset_img_url: 'original' }}" alt="" class="wow fadeIn">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tb-about-carousel-slider-box">
                            <div class="tb-col tb-col-left">
                                <h3>
                                    Appetizers
                                </h3>
                                <p>
                                    Our appetizers are the perfect prelude to any meal, offering a tantalizing array of flavors and textures to awaken the palate. Made with hand-selected natural ingredients, these bite-sized delights are as wholesome as they are delicious, setting the stage for a memorable dining experience.
                                </p>
                                <h4>
                                    We offer: Arepas, plant based soups and empanadas
                                </h4>
                            </div>
                            <div class="tb-col tb-col-right">
                                <div class="tb-decorative tb-about-carousel-figure"></div>
                                <img src="/assets/tb-carousel-image.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tb-about-carousel-slider-box">
                            <div class="tb-col tb-col-left">
                                <h3>
                                    Appetizers
                                </h3>
                                <p>
                                    Our appetizers are the perfect prelude to any meal, offering a tantalizing array of flavors and textures to awaken the palate. Made with hand-selected natural ingredients, these bite-sized delights are as wholesome as they are delicious, setting the stage for a memorable dining experience.
                                </p>
                                <h4>
                                    We offer: Arepas, plant based soups and empanadas
                                </h4>
                            </div>
                            <div class="tb-col tb-col-right">
                                <div class="tb-decorative tb-about-carousel-figure"></div>
                                <img src="/assets/tb-carousel-image.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </section>

    <script>
  
    const swiper = new Swiper('.appetizers',{
        slidesPerView: 1,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
  </script>